*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Roboto", serif;
}

header {
    display: flex;
    align-items: center;
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 700;
    color: #0E0E0E;
    padding: 1.5em 0.5em;
}

.header-logo {
    display: flex;
    gap: 0.5em;
    margin-right: auto;
}

header img {
    max-width: 30vh
}

nav ul {
    list-style: none;
    display: flex;
}

.hidden {
    display: none;
}

.bars-open, .bars-closed {
    cursor: pointer;
    font-size: 1.5rem;
}

.menu-list {
    display: none;
    position: absolute;
    background-color: #FFF;
    padding: 0.5em;
    border-radius: 0.2em;
    top: 5rem;
    right: 0.5rem;
}

.menu-list li {
    margin-bottom: 0.5rem;
}

.menu-list li:hover, .menu-list li:focus {
    text-decoration: underline;
}

.menu-list.show {
    display: flex;
    flex-direction: column;
}

main {
    margin-bottom: 5rem;
}

.hero-section {
    font-family: "Source Sans 3", serif;
    background: url('./assets/article-image-hero.png') no-repeat;
    background-size: cover;
    width: 100vw;
    color: #FFF;
    padding: 2em 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-section p {
    width: 90vw;
    padding: 1em 0;
    text-shadow: 2px 2px 5px black;
}

.hero-section h1 {
    width: 80vw;
}

.hero-section .hero-info {
    line-height: 1.3;
    font-weight: 500;
}

.blog-section {
    width: 100vw;
}

.blog-post {
    display: grid;
    width: 100%;
    grid-template-columns: 1em 1fr 1em;
    gap: 1em 0;
    grid-template-areas: 
        ".... .... ...."
        ".... image ...."
        ".... date ...."
        ".... title ...."
        ".... info ...."
        ".... .... ...."
    ;

}

.img-container {
    grid-area: image;
    width: 90vw;
}

.blog-img {
    max-width: 100%;
    object-fit: contain;
    object-position: center;
    height: auto;
}

.blog-title {
    grid-area: title;
    width: 85vw;
}

.blog-date {
    grid-area: date;
}

.blog-info {
    grid-area: info;
    width: 90vw;
}


footer {
    position: fixed;
    height: 5rem;
    width: 100vw;
    background-color: #202020;
    padding: 1em 0.5em;
    text-align: center;
    text-transform: capitalize;
    bottom: 0;
}

footer h3 {
    color: #ececec;
    margin-bottom: 0.2em;
}

footer p {
    color: #d7d7d7;
}

@media (min-width: 620px) {
    .container {
        max-width: 90vw;
        margin: 0 auto;
    }

    header {
        min-height: 10vh;
    }


    .menu-bars-container {
        display: none;
    }

    .full-menu {
        display: flex;
        gap: 2em;
        margin-right: 0.5em;
    }

    .full-menu li:hover, .full-menu li:focus {
        text-decoration: underline;
    }

    .hero-section {
        max-width: 100%;
        min-height: 30vh;
    }

    .hero-info {
        max-width: 60vw;
    }

    .container section{
       margin-bottom: 6rem;
    }

    .blog-section {
        margin-top: -4rem;
        display: grid;
        max-width: 100%;
        grid-template-columns: 1em 1fr 1fr 1em; /* Creates 2 columns with space on the sides */
        grid-template-areas:
            ".... .... .... ...." 
            ".... grid-item-1 grid-item-2 ...."
            ".... grid-item-3 grid-item-4 ...."
            ".... grid-item-5 grid-item-6 ...."
            ".... grid-item-7 grid-item-7 ...."
            ".... .... .... ...."
            ; /* Defines how the grid items are placed */
        gap: 20px; /* Space between grid items */
    }


    /* Optional: Adjust grid items to make sure they span correctly */
    .grid-item-1 {
        grid-area: grid-item-1;
    }

    .grid-item-2 {
        grid-area: grid-item-2;
    }

    .grid-item-3 {
        grid-area: grid-item-3;
    }

    .grid-item-4 {
        grid-area: grid-item-4;
    }

    .grid-item-5 {
        grid-area: grid-item-5;
    }

    .grid-item-6 {
        grid-area: grid-item-6;
    }

    .grid-item-7 {
        grid-area: grid-item-7;
    }

    .blog-post {
        max-width: 40vw;
        object-fit: contain;
        border-radius: 0.5rem;
    }

    .img-container {
        border-top-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
        width: 364px;
    }

    .blog-img {
        width: 100%;
        object-fit: scale-down;
        object-position: center;
        border-top-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
    }

    .blog-title {
        width: 40vw;
    }

    .blog-info {
        width: 35vw;
    }

}